@*
* Modal generik.
*
* @param id ID unik untuk modal.
* @param title Judul modal.
* @param body Konten HTML di dalam modal.
*@
@(id: String, title: String)(body: Html)

<div id="@id" class="fixed inset-0 z-50 overflow-auto bg-gray-800 bg-opacity-50 hidden">
    <div class="relative w-full max-w-2xl mx-auto p-4 md:p-8 my-8 md:my-16 bg-white rounded-lg shadow-lg">
        <div class="flex justify-between items-center pb-3">
            <h2 class="text-xl font-bold text-gray-900">@title</h2>
            <button onclick="closeModal('@id')" class="text-gray-500 hover:text-gray-700 font-bold text-2xl leading-none">&times;</button>
        </div>
        <div class="border-t border-gray-200 pt-3">
        @body
        </div>
    </div>
</div>